In [64]:
# import tools (pandas ect)
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests

In [65]:
# read in files
storm_df = pd.read_csv("Resources/storms.csv")
florida_2019_df = pd.read_csv('Resources/Florida_2019_all_counties.csv')
florida_2020_df = pd.read_csv('Resources/Florida_2020_all_counties.csv')
florida_2021_df = pd.read_csv('Resources/Florida_2021_all_counties.csv')
us_zipcodes = "Resources/zip_code_database.csv"
#flood_df = pd.read_csv('Resources/NFIP/nfip-flood-policies.csv')

In [66]:
#Getting only Florida zip codes
us_zipcodes = pd.read_csv(us_zipcodes)
us_zipcodes_df = pd.DataFrame(us_zipcodes)
florida_zipcodes_df = us_zipcodes_df.loc[us_zipcodes_df['state'] == 'FL']
florida_zipcodes_df = florida_zipcodes_df.drop(['type','decommissioned', 'acceptable_cities','unacceptable_cities', 'timezone', 'area_codes', 'world_region', 'country', 'irs_estimated_population'], axis=1)

In [81]:
#florida_zipcodes_df.index #accesses the index of the DataFrame.

#florida_zipcodes_df.dtype #retrieves the data type of the index.

#datatype = florida_zipcodes_df.index_type() #will store the data type of the index.

#print(datatype) #will display the data type of the index.
index_type = florida_zipcodes_df['zip'].dtype
print(index_type)

int64

In [54]:
florida_zipcodes_df.head()

         zip       primary_city state            county  latitude  longitude
13847  32003     Fleming Island    FL       Clay County     30.10     -81.71
13848  32004  Ponte Vedra Beach    FL  St. Johns County     30.23     -81.38
13849  32006     Fleming Island    FL       Clay County     30.11     -81.72
13850  32007           Bostwick    FL     Putnam County     29.77     -81.63
13851  32008           Branford    FL   Suwannee County     29.96     -82.92

In [55]:
florida_zipcodes_df = florida_zipcodes_df.sort_values('county')
florida_zipcodes_df.set_index('zip', inplace=True)
florida_zipcodes_df
florida_zipcodes_df.to_csv('output_file.csv', index=True)

In [17]:
#preview the data 
display(storm_df.head())
display(florida_2019_df.head(10))
display(florida_2020_df.head())
display(florida_2021_df.head())
#display(flood_df.head())

,Unnamed: 0,name,year,month,day,hour,lat,long,status,category,wind,pressure,tropicalstorm_force_diameter,hurricane_force_diameter
0,1,Amy,1975,6,27,0,27.5,-79.0,tropical depression,NaN,25,1013,NaN,NaN
1,2,Amy,1975,6,27,6,28.5,-79.0,tropical depression,NaN,25,1013,NaN,NaN
2,3,Amy,1975,6,27,12,29.5,-79.0,tropical depression,NaN,25,1013,NaN,NaN
3,4,Amy,1975,6,27,18,30.5,-79.0,tropical depression,NaN,25,1013,NaN,NaN
4,5,Amy,1975,6,28,0,31.5,-78.8,tropical depression,NaN,25,1012,NaN,NaN

,CAGDP1 County and MSA gross domestic product (GDP) summary,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,CAGDP1 County and MSA gross domestic product (...,NaN,NaN,NaN,NaN
1,County,NaN,NaN,NaN,NaN
2,GeoFips,GeoName,LineCode,Description,2018-2019
3,12001,"Alachua, FL",1,Real GDP (thousands of chained 2017 dollars),2.7
4,12001,"Alachua, FL",2,Chain-type quantity indexes for real GDP,2.7
5,12001,"Alachua, FL",3,Current-dollar GDP (thousands of current dollars),5
6,12003,"Baker, FL",1,Real GDP (thousands of chained 2017 dollars),0.3
7,12003,"Baker, FL",2,Chain-type quantity indexes for real GDP,0.3
8,12003,"Baker, FL",3,Current-dollar GDP (thousands of current dollars),2.8
9,12005,"Bay, FL",1,Real GDP (thousands of chained 2017 dollars),1

,CAGDP1 County and MSA gross domestic product (GDP) summary,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,CAGDP1 County and MSA gross domestic product (...,NaN,NaN,NaN,NaN
1,County,NaN,NaN,NaN,NaN
2,GeoFips,GeoName,LineCode,Description,2019-2020
3,12001,"Alachua, FL",1,Real GDP (thousands of chained 2017 dollars),-0.5
4,12001,"Alachua, FL",2,Chain-type quantity indexes for real GDP,-0.5

,CAGDP1 County and MSA gross domestic product (GDP) summary,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,CAGDP1 County and MSA gross domestic product (...,NaN,NaN,NaN,NaN
1,County,NaN,NaN,NaN,NaN
2,GeoFips,GeoName,LineCode,Description,2020-2021
3,12001,"Alachua, FL",1,Real GDP (thousands of chained 2017 dollars),6.7
4,12001,"Alachua, FL",2,Chain-type quantity indexes for real GDP,6.7

In [18]:
#get unique column values from storm df
storm_df['status'].unique()

array(['tropical depression', 'tropical storm', 'extratropical',
       'hurricane', 'subtropical storm', 'subtropical depression',
       'disturbance', 'other low', 'tropical wave'], dtype=object)

In [19]:
#Extract only hurricane data from the storm dataframe
hurricane = storm_df.loc[storm_df['status'] == 'hurricane']
hurricane.set_index('year', inplace = True)

In [20]:
#Extract years of interest and save as sepearte dataframe
hurricane_2017_2021 = hurricane.loc[[2017, 2018 , 2019, 2020, 2021]]
hurricane_2017_2021.head()

,Unnamed: 0,name,month,day,hour,lat,long,status,category,wind,pressure,tropicalstorm_force_diameter,hurricane_force_diameter
year,,,,,,,,,,,,,
2017,16027,Franklin,8,9,18,20.2,-94.4,hurricane,1.0,65,984,210.0,30.0
2017,16028,Franklin,8,10,0,20.3,-95.5,hurricane,1.0,75,981,220.0,30.0
2017,16029,Franklin,8,10,5,20.0,-96.6,hurricane,1.0,70,990,220.0,30.0
2017,16045,Gert,8,15,6,31.5,-72.3,hurricane,1.0,65,986,140.0,20.0
2017,16046,Gert,8,15,12,32.3,-72.1,hurricane,1.0,70,982,150.0,20.0

In [21]:
#Drop unneeded columns
hurricane_2017_2021.drop(columns=['Unnamed: 0','status'], inplace=True)
hurricane_2017_2021

,name,month,day,hour,lat,long,category,wind,pressure,tropicalstorm_force_diameter,hurricane_force_diameter
year,,,,,,,,,,,
2017,Franklin,8,9,18,20.2,-94.4,1.0,65,984,210.0,30.0
2017,Franklin,8,10,0,20.3,-95.5,1.0,75,981,220.0,30.0
2017,Franklin,8,10,5,20.0,-96.6,1.0,70,990,220.0,30.0
2017,Gert,8,15,6,31.5,-72.3,1.0,65,986,140.0,20.0
2017,Gert,8,15,12,32.3,-72.1,1.0,70,982,150.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...
2021,Sam,10,4,0,38.7,-52.2,2.0,90,957,420.0,100.0
2021,Sam,10,4,6,39.9,-49.9,2.0,90,957,440.0,60.0
2021,Sam,10,4,12,41.4,-47.1,2.0,85,960,440.0,60.0
2021,Sam,10,4,18,43.8,-43.6,1.0,80,965,500.0,70.0
2021,Sam,10,5,0,46.5,-40.5,1.0,75,965,570.0,70.0

In [22]:
#reset index
hurricane_2017_2021 = hurricane_2017_2021.reset_index()

In [23]:
#get storm count by year and month
hurricane_2017_2021.groupby(by = ['year','month'])[['name']].nunique('name')

            name
year month
2017 8         4
     9         5
     10        2
2018 7         2
     9         3
     10        3
2019 7         1
     8         1
     9         4
     10        2
2020 7         2
     8         3
     9         4
     10        4
     11        2
2021 7         1
     8         3
     9         3
     10        1

In [24]:
#create date column with year, month, day columns
hurricane_2017_2021['date'] = pd.to_datetime(hurricane_2017_2021[['year','month','day']])
hurricane_2017_2021

,year,name,month,day,hour,lat,long,category,wind,pressure,tropicalstorm_force_diameter,hurricane_force_diameter,date
0,2017,Franklin,8,9,18,20.2,-94.4,1.0,65,984,210.0,30.0,2017-08-09
1,2017,Franklin,8,10,0,20.3,-95.5,1.0,75,981,220.0,30.0,2017-08-10
2,2017,Franklin,8,10,5,20.0,-96.6,1.0,70,990,220.0,30.0,2017-08-10
3,2017,Gert,8,15,6,31.5,-72.3,1.0,65,986,140.0,20.0,2017-08-15
4,2017,Gert,8,15,12,32.3,-72.1,1.0,70,982,150.0,20.0,2017-08-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
702,2021,Sam,10,4,0,38.7,-52.2,2.0,90,957,420.0,100.0,2021-10-04
703,2021,Sam,10,4,6,39.9,-49.9,2.0,90,957,440.0,60.0,2021-10-04
704,2021,Sam,10,4,12,41.4,-47.1,2.0,85,960,440.0,60.0,2021-10-04
705,2021,Sam,10,4,18,43.8,-43.6,1.0,80,965,500.0,70.0,2021-10-04
706,2021,Sam,10,5,0,46.5,-40.5,1.0,75,965,570.0,70.0,2021-10-05

In [25]:
#reducing storm data set for latitude and longitude ranges closer and over Florida
hurricane_2017_2021_lat = hurricane_2017_2021.loc[(hurricane_2017_2021['lat']<=31 ) & (hurricane_2017_2021['lat']>= 24)]
hurricane_2017_2021_long = hurricane_2017_2021_lat.loc[(hurricane_2017_2021_lat['long']<=-80 ) & (hurricane_2017_2021_lat['long']>=-88)]
floride_hurricane_2017_2021 = hurricane_2017_2021_long
floride_hurricane_2017_2021 = floride_hurricane_2017_2021.reset_index()
floride_hurricane_2017_2021.drop(columns=['index','pressure','tropicalstorm_force_diameter'], inplace=True)
floride_hurricane_2017_2021

,year,name,month,day,hour,lat,long,category,wind,hurricane_force_diameter,date
0,2017,Irma,9,10,12,24.5,-81.5,4.0,115,110.0,2017-09-10
1,2017,Irma,9,10,13,24.7,-81.5,4.0,115,110.0,2017-09-10
2,2017,Irma,9,10,18,25.6,-81.7,3.0,100,110.0,2017-09-10
3,2017,Irma,9,10,19,25.9,-81.7,3.0,100,110.0,2017-09-10
4,2017,Irma,9,11,0,26.8,-81.7,1.0,80,110.0,2017-09-11
5,2017,Irma,9,11,6,28.2,-82.2,1.0,65,80.0,2017-09-11
6,2017,Nate,10,7,12,25.7,-87.9,1.0,80,30.0,2017-10-07
7,2018,Michael,10,9,12,24.6,-86.2,2.0,90,60.0,2018-10-09
8,2018,Michael,10,9,18,25.6,-86.4,3.0,100,60.0,2018-10-09
9,2018,Michael,10,10,0,26.6,-86.5,3.0,110,60.0,2018-10-10
10,2018,Michael,10,10,6,27.7,-86.6,4.0,120,60.0,2018-10-10
11,2018,Michael,10,10,12,29.0,-86.3,4.0,125,65.0,2018-10-10
12,2018,Michael,10,10,17,30.0,-85.5,5.0,140,60.0,2018-10-10
13,2018,Michael,10,10,18,30.2,-85.4,4.0,135,60.0,2018-10-10
14,2020,Laura,8,25,18,24.1,-87.5,1.0,70,40.0,2020-08-25
15,2020,Marco,8,23,12,24.3,-87.2,1.0,65,15.0,2020-08-23
16,2020,Marco,8,23,18,25.3,-87.4,1.0,65,15.0,2020-08-23
17,2020,Sally,9,14,12,28.4,-86.9,1.0,65,20.0,2020-09-14
18,2020,Sally,9,14,18,28.6,-87.3,1.0,75,30.0,2020-09-14
19,2020,Sally,9,15,0,28.7,-87.7,1.0,75,35.0,2020-09-15
20,2020,Sally,9,15,6,28.8,-88.0,1.0,70,45.0,2020-09-15
21,2020,Sally,9,16,0,29.6,-88.0,1.0,75,55.0,2020-09-16
22,2020,Sally,9,16,6,29.9,-87.9,2.0,95,55.0,2020-09-16
23,2020,Sally,9,16,9,30.3,-87.7,2.0,95,55.0,2020-09-16
24,2020,Sally,9,16,12,30.5,-87.6,2.0,85,50.0,2020-09-16
25,2020,Eta,11,11,12,25.8,-83.9,1.0,65,50.0,2020-11-11
26,2021,Elsa,7,7,0,26.6,-83.2,1.0,65,20.0,2021-07-07
27,2021,Ida,8,28,12,24.4,-85.7,1.0,70,25.0,2021-08-28
28,2021,Ida,8,28,18,25.6,-86.6,1.0,80,40.0,2021-08-28
29,2021,Ida,8,29,0,26.7,-87.6,2.0,90,60.0,2021-08-29

In [26]:
#define function to map lat, long to zip code using Google API 
#api_key = 'AIzaSyBZyROvx7Z-lPxM_rrQ0oWrjglvEpRx-nw'
#def reverse_geocode(lat,lng, api_key, output_format='json'):
 #   base_url = 'https://maps.googleapis.com/maps/api/geocode/'
  #  endpoint = f'{output_format}?latlng={lat},{lng}&key={api_key}'
   # response = requests.get(base_url + endpoint)
   # if response.status_code == 200:
#        data = response.json()
 #       if 'results' in data and len(data['results']) > 0:
  #          address_components = data['results'][0]['address_components']
   #         zip_code = None
#            for component in address_components:
 #               if 'postal_code' in component['types']:
  #                  zip_code = component['long_name']
                    
#                    break
#            return zip_code
#        else:
#            return None
   # else:
   #     return f'Error: {response.status_code} - {response.text}'

In [28]:
#zip_code = reverse_geocode(40.714224,-73.961452, api_key)

#zip_code = 32605
#print(get_county (zip_code,florida_zipcodes_df ))
#print(zip_code)

In [29]:
for i in range(len(floride_hurricane_2017_2021)):
    print(floride_hurricane_2017_2021['lat'][i])
    break
floride_hurricane_2017_2021

24.5

,year,name,month,day,hour,lat,long,category,wind,hurricane_force_diameter,date
0,2017,Irma,9,10,12,24.5,-81.5,4.0,115,110.0,2017-09-10
1,2017,Irma,9,10,13,24.7,-81.5,4.0,115,110.0,2017-09-10
2,2017,Irma,9,10,18,25.6,-81.7,3.0,100,110.0,2017-09-10
3,2017,Irma,9,10,19,25.9,-81.7,3.0,100,110.0,2017-09-10
4,2017,Irma,9,11,0,26.8,-81.7,1.0,80,110.0,2017-09-11
5,2017,Irma,9,11,6,28.2,-82.2,1.0,65,80.0,2017-09-11
6,2017,Nate,10,7,12,25.7,-87.9,1.0,80,30.0,2017-10-07
7,2018,Michael,10,9,12,24.6,-86.2,2.0,90,60.0,2018-10-09
8,2018,Michael,10,9,18,25.6,-86.4,3.0,100,60.0,2018-10-09
9,2018,Michael,10,10,0,26.6,-86.5,3.0,110,60.0,2018-10-10
10,2018,Michael,10,10,6,27.7,-86.6,4.0,120,60.0,2018-10-10
11,2018,Michael,10,10,12,29.0,-86.3,4.0,125,65.0,2018-10-10
12,2018,Michael,10,10,17,30.0,-85.5,5.0,140,60.0,2018-10-10
13,2018,Michael,10,10,18,30.2,-85.4,4.0,135,60.0,2018-10-10
14,2020,Laura,8,25,18,24.1,-87.5,1.0,70,40.0,2020-08-25
15,2020,Marco,8,23,12,24.3,-87.2,1.0,65,15.0,2020-08-23
16,2020,Marco,8,23,18,25.3,-87.4,1.0,65,15.0,2020-08-23
17,2020,Sally,9,14,12,28.4,-86.9,1.0,65,20.0,2020-09-14
18,2020,Sally,9,14,18,28.6,-87.3,1.0,75,30.0,2020-09-14
19,2020,Sally,9,15,0,28.7,-87.7,1.0,75,35.0,2020-09-15
20,2020,Sally,9,15,6,28.8,-88.0,1.0,70,45.0,2020-09-15
21,2020,Sally,9,16,0,29.6,-88.0,1.0,75,55.0,2020-09-16
22,2020,Sally,9,16,6,29.9,-87.9,2.0,95,55.0,2020-09-16
23,2020,Sally,9,16,9,30.3,-87.7,2.0,95,55.0,2020-09-16
24,2020,Sally,9,16,12,30.5,-87.6,2.0,85,50.0,2020-09-16
25,2020,Eta,11,11,12,25.8,-83.9,1.0,65,50.0,2020-11-11
26,2021,Elsa,7,7,0,26.6,-83.2,1.0,65,20.0,2021-07-07
27,2021,Ida,8,28,12,24.4,-85.7,1.0,70,25.0,2021-08-28
28,2021,Ida,8,28,18,25.6,-86.6,1.0,80,40.0,2021-08-28
29,2021,Ida,8,29,0,26.7,-87.6,2.0,90,60.0,2021-08-29

In [30]:
import numpy as np
import requests

api_key = 'AIzaSyBZyROvx7Z-lPxM_rrQ0oWrjglvEpRx-nw'

def extract_zip_code(floride_hurricane_2017_2021, api_key, output_format="json"):
    zipcodes = []
    
    for i in range(len(floride_hurricane_2017_2021)):
        base_url = 'https://maps.googleapis.com/maps/api/geocode/'
        lat = floride_hurricane_2017_2021['lat'][i]
        long = floride_hurricane_2017_2021['long'][i]
        endpoint = f'{output_format}?latlng={lat},{long}&key={api_key}'
        
        response = requests.get(base_url + endpoint)
        
        if response.status_code == 200:
            data = response.json()
            
            if 'results' in data and len(data['results']) > 0:
                address_components = data['results'][0]['address_components']
                zip_code = None
                
                for component in address_components:
                    if 'postal_code' in component['types']:
                        zip_code = component['long_name']
                        break
                
                if zip_code is not None:
                    zipcodes.append(zip_code)
                else:
                    zipcodes.append(np.nan)
            else:
                zipcodes.append(np.nan)
        else:
            zipcodes.append(np.nan)
    
    floride_hurricane_2017_2021["zipcodes"] = zipcodes
    return floride_hurricane_2017_2021

In [31]:
extracted_data = extract_zip_code(floride_hurricane_2017_2021, api_key)

In [32]:
extracted_data

,year,name,month,day,hour,lat,long,category,wind,hurricane_force_diameter,date,zipcodes
0,2017,Irma,9,10,12,24.5,-81.5,4.0,115,110.0,2017-09-10,33042
1,2017,Irma,9,10,13,24.7,-81.5,4.0,115,110.0,2017-09-10,33042
2,2017,Irma,9,10,18,25.6,-81.7,3.0,100,110.0,2017-09-10,NaN
3,2017,Irma,9,10,19,25.9,-81.7,3.0,100,110.0,2017-09-10,34145
4,2017,Irma,9,11,0,26.8,-81.7,1.0,80,110.0,2017-09-11,NaN
5,2017,Irma,9,11,6,28.2,-82.2,1.0,65,80.0,2017-09-11,33541
6,2017,Nate,10,7,12,25.7,-87.9,1.0,80,30.0,2017-10-07,NaN
7,2018,Michael,10,9,12,24.6,-86.2,2.0,90,60.0,2018-10-09,NaN
8,2018,Michael,10,9,18,25.6,-86.4,3.0,100,60.0,2018-10-09,NaN
9,2018,Michael,10,10,0,26.6,-86.5,3.0,110,60.0,2018-10-10,NaN
10,2018,Michael,10,10,6,27.7,-86.6,4.0,120,60.0,2018-10-10,NaN
11,2018,Michael,10,10,12,29.0,-86.3,4.0,125,65.0,2018-10-10,NaN
12,2018,Michael,10,10,17,30.0,-85.5,5.0,140,60.0,2018-10-10,32403
13,2018,Michael,10,10,18,30.2,-85.4,4.0,135,60.0,2018-10-10,NaN
14,2020,Laura,8,25,18,24.1,-87.5,1.0,70,40.0,2020-08-25,NaN
15,2020,Marco,8,23,12,24.3,-87.2,1.0,65,15.0,2020-08-23,NaN
16,2020,Marco,8,23,18,25.3,-87.4,1.0,65,15.0,2020-08-23,NaN
17,2020,Sally,9,14,12,28.4,-86.9,1.0,65,20.0,2020-09-14,NaN
18,2020,Sally,9,14,18,28.6,-87.3,1.0,75,30.0,2020-09-14,NaN
19,2020,Sally,9,15,0,28.7,-87.7,1.0,75,35.0,2020-09-15,NaN
20,2020,Sally,9,15,6,28.8,-88.0,1.0,70,45.0,2020-09-15,NaN
21,2020,Sally,9,16,0,29.6,-88.0,1.0,75,55.0,2020-09-16,NaN
22,2020,Sally,9,16,6,29.9,-87.9,2.0,95,55.0,2020-09-16,NaN
23,2020,Sally,9,16,9,30.3,-87.7,2.0,95,55.0,2020-09-16,NaN
24,2020,Sally,9,16,12,30.5,-87.6,2.0,85,50.0,2020-09-16,NaN
25,2020,Eta,11,11,12,25.8,-83.9,1.0,65,50.0,2020-11-11,NaN
26,2021,Elsa,7,7,0,26.6,-83.2,1.0,65,20.0,2021-07-07,NaN
27,2021,Ida,8,28,12,24.4,-85.7,1.0,70,25.0,2021-08-28,NaN
28,2021,Ida,8,28,18,25.6,-86.6,1.0,80,40.0,2021-08-28,NaN
29,2021,Ida,8,29,0,26.7,-87.6,2.0,90,60.0,2021-08-29,NaN

In [86]:
#df_clean = df.dropna(subset=['column_name'])
clean_extracted_data = extracted_data.dropna(subset=['zipcodes'])
clean_extracted_data = clean_extracted_data.reset_index()
#clean_2019['GDP'] = clean_2019['GDP'].astype(int)
clean_extracted_data['zipcodes'] = clean_extracted_data['zipcodes'].astype(int)
clean_extracted_data

,index,year,name,month,day,hour,lat,long,category,wind,hurricane_force_diameter,date,zipcodes
0,0,2017,Irma,9,10,12,24.5,-81.5,4.0,115,110.0,2017-09-10,33042
1,1,2017,Irma,9,10,13,24.7,-81.5,4.0,115,110.0,2017-09-10,33042
2,3,2017,Irma,9,10,19,25.9,-81.7,3.0,100,110.0,2017-09-10,34145
3,5,2017,Irma,9,11,6,28.2,-82.2,1.0,65,80.0,2017-09-11,33541
4,12,2018,Michael,10,10,17,30.0,-85.5,5.0,140,60.0,2018-10-10,32403

In [87]:

#def get_county (zip_code,florida_zipcodes_df) :
#    if zip_code in florida_zipcodes_df.index:
#       return florida_zipcodes_df.loc[zip_code,'county']
#   else:
#        return None

int32

In [73]:
#county = []
#for zip_code in clean_extracted_data:
#    county_value = get_county(zip_code, florida_zipcodes_df)
#   county.append(county_value)

## Check if the length of the county list matches the length of the index
#if len(county) == len(clean_extracted_data):
#    clean_extracted_data["County"] = county
#else:
#    print("Length of values does not match length of index. Check your data.")

In [74]:
#county = []
#for zip_code in clean_extracted_data:
#    county.append(get_county(zip_code, florida_zipcodes_df))

#clean_extracted_data["County"] = county

In [75]:
#import pandas as pd

## Assuming df1 is the DataFrame with 5 rows and zip codes, and df2 is the DataFrame with 13 rows containing zip codes and counties
## Create an empty list to store the counties
#counties = []

## Iterate through each row in df1
#for index1, row1 in clean_extracted_data.iterrows():
#    county_found = False
#    for index2, row2 in florida_zipcodes_df.iterrows():
#        if row1['Zipcode'] == row2['Zipcode']:
#            counties.append(row2['County'])
#            county_found = True
#           break  # Exit the inner loop once a match is found
    
#    if not county_found:
 #       counties.append(None)  # Append None if no match is found for the zip code in df1

# Add the counties list as a new column in df1
#clean_extracted_data['County'] = counties

# Display the updated DataFrame
#print(clean_extracted_data)

In [ ]:
#test function 
#zip_code = 32605
#print(get_county (zip_code,florida_zipcodes_df ))

In [ ]:
clean_2019 = florida_2019_df.drop(florida_2019_df.tail(4).index)
clean_2019.drop(florida_2019_df.head(3).index, inplace=True)
clean_2019.rename({'Unnamed: 1':'County/State', 'Unnamed: 2': 'GDP','Unnamed: 3': 'LineCode', 'Unnamed: 4': '2018-2019'}, axis=1, inplace=True)
#df = df.loc[~((df['col1'] == 'A') | (df['col2'] > 6))]
#clean_2019 = clean_2019.loc[~((clean_2019['GDP'] == '2' | clean_2019['GDP'] =='3'))]
#df['A'] = df['A'].astype(int)  from Xpert
clean_2019['GDP'] = clean_2019['GDP'].astype(int)
#df = df[~df['A'].isin([2, 3])] from Xpert
clean_2019 = clean_2019[~clean_2019['GDP'].isin([2,3,])]
#df[['County', 'State']] = df['County/State'].str.split('/', expand=True)
clean_2019[['County', 'State']] = clean_2019['County/State'].str.split(',')

clean_2020 = florida_2020_df.drop(florida_2020_df.tail(4).index)
clean_2020.drop(florida_2020_df.head(3).index, inplace=True)
clean_2020.rename({'Unnamed: 1':'County/State', 'Unnamed: 2': 'GDP','Unnamed: 3': 'LineCode', 'Unnamed: 4': '2019-2020'}, axis=1, inplace=True)
clean_2020['GDP'] = clean_2020['GDP'].astype(int)
clean_2020 = clean_2020[~clean_2020['GDP'].isin([2,3,])]

clean_2021 = florida_2021_df.drop(florida_2021_df.tail(4).index)
clean_2021.drop(florida_2021_df.head(3).index, inplace=True)
clean_2021.rename({'Unnamed: 1':'County/State', 'Unnamed: 2': 'GDP', 'Unnamed: 3': 'LineCode', 'Unnamed: 4': '2020-2021'}, axis=1, inplace=True)
clean_2021['GDP'] = clean_2021['GDP'].astype(int)
clean_2021 = clean_2021[~clean_2021['GDP'].isin([2,3,])]

display(clean_2019)
display(clean_2020)
display(clean_2021)