In [1]:
# import tools (pandas ect)
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests

In [14]:
# read in files
storm_df = pd.read_csv("Resources/storms.csv")
florida_2019_df = pd.read_csv('Resources/Florida_2019_all_counties.csv')
florida_2020_df = pd.read_csv('Resources/Florida_2020_all_counties.csv')
florida_2021_df = pd.read_csv('Resources/Florida_2021_all_counties.csv')
#flood_df = pd.read_csv('Resources/NFIP/nfip-flood-policies.csv')

In [26]:
#preview the data 
display(storm_df.head())
display(florida_2019_df.head(10))
display(florida_2020_df.head())
display(florida_2021_df.head())
display(flood_df.head())

,Unnamed: 0,name,year,month,day,hour,lat,long,status,category,wind,pressure,tropicalstorm_force_diameter,hurricane_force_diameter
0,1,Amy,1975,6,27,0,27.5,-79.0,tropical depression,NaN,25,1013,NaN,NaN
1,2,Amy,1975,6,27,6,28.5,-79.0,tropical depression,NaN,25,1013,NaN,NaN
2,3,Amy,1975,6,27,12,29.5,-79.0,tropical depression,NaN,25,1013,NaN,NaN
3,4,Amy,1975,6,27,18,30.5,-79.0,tropical depression,NaN,25,1013,NaN,NaN
4,5,Amy,1975,6,28,0,31.5,-78.8,tropical depression,NaN,25,1012,NaN,NaN

,CAGDP1 County and MSA gross domestic product (GDP) summary,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,CAGDP1 County and MSA gross domestic product (...,NaN,NaN,NaN,NaN
1,County,NaN,NaN,NaN,NaN
2,GeoFips,GeoName,LineCode,Description,2018-2019
3,12001,"Alachua, FL",1,Real GDP (thousands of chained 2017 dollars),2.7
4,12001,"Alachua, FL",2,Chain-type quantity indexes for real GDP,2.7
5,12001,"Alachua, FL",3,Current-dollar GDP (thousands of current dollars),5
6,12003,"Baker, FL",1,Real GDP (thousands of chained 2017 dollars),0.3
7,12003,"Baker, FL",2,Chain-type quantity indexes for real GDP,0.3
8,12003,"Baker, FL",3,Current-dollar GDP (thousands of current dollars),2.8
9,12005,"Bay, FL",1,Real GDP (thousands of chained 2017 dollars),1

,CAGDP1 County and MSA gross domestic product (GDP) summary,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,CAGDP1 County and MSA gross domestic product (...,NaN,NaN,NaN,NaN
1,County,NaN,NaN,NaN,NaN
2,GeoFips,GeoName,LineCode,Description,2019-2020
3,12001,"Alachua, FL",1,Real GDP (thousands of chained 2017 dollars),-0.5
4,12001,"Alachua, FL",2,Chain-type quantity indexes for real GDP,-0.5

,CAGDP1 County and MSA gross domestic product (GDP) summary,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,CAGDP1 County and MSA gross domestic product (...,NaN,NaN,NaN,NaN
1,County,NaN,NaN,NaN,NaN
2,GeoFips,GeoName,LineCode,Description,2020-2021
3,12001,"Alachua, FL",1,Real GDP (thousands of chained 2017 dollars),6.7
4,12001,"Alachua, FL",2,Chain-type quantity indexes for real GDP,6.7

,agriculturestructureindicator,basefloodelevation,basementenclosurecrawlspacetype,cancellationdateoffloodpolicy,censustract,condominiumindicator,construction,countycode,crsdiscount,deductibleamountinbuildingcoverage,...,primaryresidenceindicator,propertystate,reportedzipcode,ratemethod,regularemergencyprogramindicator,reportedcity,smallbusinessindicatorbuilding,totalbuildinginsurancecoverage,totalcontentsinsurancecoverage,totalinsurancepremiumofthepolicy
0,NaN,NaN,2,NaN,3.301304e+10,N,N,33013.0,0.00,0,...,Y,NH,3278.0,7,R,WARNER,NaN,250000.0,100000.0,375.0
1,NaN,NaN,0,NaN,2.206304e+10,N,N,22063.0,0.05,1,...,Y,LA,70726.0,1,R,DENHAM SPRINGS,NaN,16400.0,8800.0,280.0
2,NaN,NaN,0,NaN,4.505106e+10,N,N,45051.0,0.00,0,...,Y,SC,29579.0,7,R,MYRTLE BEACH,NaN,250000.0,100000.0,335.0
3,NaN,519.0,2,2016-04-01,1.055001e+09,N,N,1055.0,0.00,1,...,Y,AL,35901.0,2,R,GADSDEN,NaN,174900.0,21000.0,916.0
4,NaN,7.0,0,NaN,1.208600e+10,N,N,12086.0,0.00,0,...,Y,FL,33160.0,1,R,GOLDEN BEACH,NaN,250000.0,100000.0,1288.0

In [16]:
#get unique column values from storm df
storm_df['status'].unique()

array(['tropical depression', 'tropical storm', 'extratropical',
       'hurricane', 'subtropical storm', 'subtropical depression',
       'disturbance', 'other low', 'tropical wave'], dtype=object)

In [17]:
#Extract only hurricane data from the storm dataframe
hurricane = storm_df.loc[storm_df['status'] == 'hurricane']
hurricane.set_index('year', inplace = True)

In [18]:
#Extract years of interest and save as sepearte dataframe
hurricane_2017_2021 = hurricane.loc[[2017, 2018 , 2019, 2020, 2021]]
hurricane_2017_2021.head()

,Unnamed: 0,name,month,day,hour,lat,long,status,category,wind,pressure,tropicalstorm_force_diameter,hurricane_force_diameter
year,,,,,,,,,,,,,
2017,16027,Franklin,8,9,18,20.2,-94.4,hurricane,1.0,65,984,210.0,30.0
2017,16028,Franklin,8,10,0,20.3,-95.5,hurricane,1.0,75,981,220.0,30.0
2017,16029,Franklin,8,10,5,20.0,-96.6,hurricane,1.0,70,990,220.0,30.0
2017,16045,Gert,8,15,6,31.5,-72.3,hurricane,1.0,65,986,140.0,20.0
2017,16046,Gert,8,15,12,32.3,-72.1,hurricane,1.0,70,982,150.0,20.0

In [19]:
#Drop unneeded columns
hurricane_2017_2021.drop(columns=['Unnamed: 0','status'], inplace=True)
hurricane_2017_2021

,name,month,day,hour,lat,long,category,wind,pressure,tropicalstorm_force_diameter,hurricane_force_diameter
year,,,,,,,,,,,
2017,Franklin,8,9,18,20.2,-94.4,1.0,65,984,210.0,30.0
2017,Franklin,8,10,0,20.3,-95.5,1.0,75,981,220.0,30.0
2017,Franklin,8,10,5,20.0,-96.6,1.0,70,990,220.0,30.0
2017,Gert,8,15,6,31.5,-72.3,1.0,65,986,140.0,20.0
2017,Gert,8,15,12,32.3,-72.1,1.0,70,982,150.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...
2021,Sam,10,4,0,38.7,-52.2,2.0,90,957,420.0,100.0
2021,Sam,10,4,6,39.9,-49.9,2.0,90,957,440.0,60.0
2021,Sam,10,4,12,41.4,-47.1,2.0,85,960,440.0,60.0
2021,Sam,10,4,18,43.8,-43.6,1.0,80,965,500.0,70.0
2021,Sam,10,5,0,46.5,-40.5,1.0,75,965,570.0,70.0

In [20]:
#reset index
hurricane_2017_2021 = hurricane_2017_2021.reset_index()

In [21]:
#get storm count by year and month
hurricane_2017_2021.groupby(by = ['year','month'])[['name']].nunique('name')

            name
year month
2017 8         4
     9         5
     10        2
2018 7         2
     9         3
     10        3
2019 7         1
     8         1
     9         4
     10        2
2020 7         2
     8         3
     9         4
     10        4
     11        2
2021 7         1
     8         3
     9         3
     10        1

In [22]:
#create date column with year, month, day columns
hurricane_2017_2021['date'] = pd.to_datetime(hurricane_2017_2021[['year','month','day']])
hurricane_2017_2021

,year,name,month,day,hour,lat,long,category,wind,pressure,tropicalstorm_force_diameter,hurricane_force_diameter,date
0,2017,Franklin,8,9,18,20.2,-94.4,1.0,65,984,210.0,30.0,2017-08-09
1,2017,Franklin,8,10,0,20.3,-95.5,1.0,75,981,220.0,30.0,2017-08-10
2,2017,Franklin,8,10,5,20.0,-96.6,1.0,70,990,220.0,30.0,2017-08-10
3,2017,Gert,8,15,6,31.5,-72.3,1.0,65,986,140.0,20.0,2017-08-15
4,2017,Gert,8,15,12,32.3,-72.1,1.0,70,982,150.0,20.0,2017-08-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
702,2021,Sam,10,4,0,38.7,-52.2,2.0,90,957,420.0,100.0,2021-10-04
703,2021,Sam,10,4,6,39.9,-49.9,2.0,90,957,440.0,60.0,2021-10-04
704,2021,Sam,10,4,12,41.4,-47.1,2.0,85,960,440.0,60.0,2021-10-04
705,2021,Sam,10,4,18,43.8,-43.6,1.0,80,965,500.0,70.0,2021-10-04
706,2021,Sam,10,5,0,46.5,-40.5,1.0,75,965,570.0,70.0,2021-10-05

In [25]:
#define function to map lat, long to zip code using Google API 
api_key = 'AIzaSyBZyROvx7Z-lPxM_rrQ0oWrjglvEpRx-nw'
def reverse_geocode(lat,lng, api_key, output_format='json'):
    base_url = 'https://maps.googleapis.com/maps/api/geocode/'
    endpoint = f'{output_format}?latlng={lat},{lng}&key={api_key}'
    response = requests.get(base_url + endpoint)
    if response.status_code == 200:
        data = response.json()
        if 'results' in data and len(data['results']) > 0:
            address_components = data['results'][0]['address_components']
            zip_code = None
            for component in address_components:
                if 'postal_code' in component['types']:
                    zip_code = component['long_name']
                    break
            return zip_code
        else:
            return 'No results found'
    else:
        return f'Error: {response.status_code} - {response.text}'

In [57]:
zip_code = reverse_geocode(40.714224,-73.961452, api_key)
print(zip_code)

11211

In [63]:
result = search.by_coordinates(40.714224,-73.961452, returns = 1)
result[0].zipcode

'11211'

In [68]:
from uszipcode import SearchEngine, SimpleZipcode
search = SearchEngine()
import numpy as np

#Now to the real deal: the search function. This function can be #manually adapted to your needs (e.g., getting the full address instead of just ZIP codes)

#define zipcode search function
def get_zipcode(lat, long):
    result = search.by_coordinates(lat,long,returns = 1)
    return result[0].zipcode

# #load columns from dataframe
# lat = hurricane_2017_2021['lat']
# lon = hurricane_2017_2021['long']

print(get_zipcode(40.714224,-73.961452))

# #define latitude/longitude for function
# df = pd.DataFrame({'lat':lat, 'lon':lon})

# #add new column with generated zip-code
# df['zip'] = df.apply(lambda x: get_zipcode(lat,lon), axis=1)

11211