In [2]:
# import tools (pandas ect)
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
#import requests

In [25]:
#read data files
fl_1 = pd.read_csv('Resources/Unemployment Data/Florida_Unemployment_1.csv', index_col='DATE',parse_dates=True)
fl_2 = pd.read_csv('Resources/Unemployment Data/Florida_Unemployment_2.csv', index_col='DATE',parse_dates=True)
fl_3 = pd.read_csv('Resources/Unemployment Data/Florida_Unemployment_3.csv', index_col='DATE',parse_dates=True)
fl_4 = pd.read_csv('Resources/Unemployment Data/Florida_Unemployment_4.csv', index_col='DATE',parse_dates=True)
fl_5 = pd.read_csv('Resources/Unemployment Data/Florida_Unemployment_5.csv', index_col='DATE',parse_dates=True)
fl_6 = pd.read_csv('Resources/Unemployment Data/Florida_Unemployment_6.csv', index_col='DATE',parse_dates=True)

#concat files to create Florida Unemployment df
fl_unemployment = pd.concat([fl_1,fl_2,fl_3,fl_4,fl_5,fl_6], axis=1, join='inner')

#rename columns
fl_unemployment.columns = ['Alachua','Baker','Bay','Bradford','Brevard','Broward','Calhoun','Charlotte','Citrus','Clay','Collier','Columbia'
                                ,'DeSoto','Dixie','Duval','Escambia','Flagler','Franklin','Gadsden','Gilchrist','Glades','Gulf','Hamilton','Hardee'
                                ,'Hendry','Hernando','Highlands','Hillsborough','Holmes','Indian River','Jackson','Jefferson','Lafayette','Lake','Lee','Leon'
                                ,'Levy','Liberty','Madison','Manatee','Marion','Martin','Miami-Dade','Monroe','Nassau','Okaloosa','Okeechobee','Orange'
                                ,'Osceola','Palm Beach','Pasco','Pinellas','Polk','Putnam','Santa Rosa','Sarasota','Seminole','St Johns','St Lucie','Sumter'
                                ,'Suwawnee','Taylor','Union','Volusia','Wakulla','Walton','Washington' ]

#preview data
display(fl_unemployment.head())
display(fl_unemployment.tail())

,Alachua,Baker,Bay,Bradford,Brevard,Broward,Calhoun,Charlotte,Citrus,Clay,...,St Johns,St Lucie,Sumter,Suwawnee,Taylor,Union,Volusia,Wakulla,Walton,Washington
DATE,,,,,,,,,,,,,,,,,,,,,
2019-01-01,3.6,3.8,5.9,3.8,3.8,3.6,5.3,4.3,5.8,3.7,...,3.3,4.6,5.5,4.0,4.4,3.6,4.1,3.5,3.6,4.7
2019-02-01,3.0,3.2,4.8,3.3,3.4,3.2,4.5,3.8,5.1,3.2,...,2.8,4.1,5.0,3.5,3.8,3.0,3.6,2.9,3.1,3.9
2019-03-01,3.0,3.2,4.4,3.3,3.3,3.1,4.3,3.8,4.9,3.1,...,2.8,3.9,5.0,3.5,3.6,3.0,3.5,2.9,3.0,3.6
2019-04-01,2.6,2.9,3.7,2.9,3.0,2.8,3.7,3.4,4.5,2.8,...,2.5,3.6,4.6,3.1,3.4,2.7,3.2,2.7,2.7,3.2
2019-05-01,2.8,3.1,3.7,3.1,3.1,3.0,3.6,3.6,4.8,2.9,...,2.5,3.9,4.7,3.2,3.4,2.8,3.4,2.9,2.7,3.2

,Alachua,Baker,Bay,Bradford,Brevard,Broward,Calhoun,Charlotte,Citrus,Clay,...,St Johns,St Lucie,Sumter,Suwawnee,Taylor,Union,Volusia,Wakulla,Walton,Washington
DATE,,,,,,,,,,,,,,,,,,,,,
2021-08-01,4.0,4.0,3.9,4.4,4.2,4.9,4.8,4.8,6.1,3.7,...,3.3,5.2,5.9,4.8,5.2,4.1,4.7,3.5,3.7,4.7
2021-09-01,3.5,3.6,3.5,4.0,3.8,4.5,4.5,4.3,5.4,3.4,...,2.9,4.7,5.3,4.5,4.6,3.6,4.3,3.0,3.4,4.2
2021-10-01,3.4,3.6,3.4,3.8,3.6,4.1,4.5,4.0,5.0,3.2,...,2.8,4.4,4.8,4.2,4.4,3.4,4.1,2.9,3.2,4.0
2021-11-01,3.1,3.3,3.3,3.9,3.5,3.9,4.1,3.9,5.0,3.0,...,2.7,4.2,4.8,3.9,4.4,3.2,3.9,2.8,3.1,3.8
2021-12-01,2.8,2.9,3.1,3.4,3.0,3.3,3.6,3.4,4.4,2.7,...,2.3,3.6,4.2,3.4,4.0,2.7,3.4,2.5,2.7,3.5

In [27]:
fl_unemployment_yearly = fl_unemployment.groupby(fl_unemployment.index.year).mean()
fl_unemployment_yearly.head()

,Alachua,Baker,Bay,Bradford,Brevard,Broward,Calhoun,Charlotte,Citrus,Clay,...,St Johns,St Lucie,Sumter,Suwawnee,Taylor,Union,Volusia,Wakulla,Walton,Washington
DATE,,,,,,,,,,,,,,,,,,,,,
2019,3.008333,3.175000,3.808333,3.316667,3.266667,3.10,4.058333,3.766667,4.958333,3.108333,...,2.708333,4.033333,4.808333,3.458333,3.683333,3.058333,3.533333,2.958333,2.933333,3.550000
2020,5.725000,5.341667,6.341667,6.341667,7.041667,9.40,5.450000,7.775000,8.925000,5.708333,...,5.491667,8.191667,8.375000,6.025000,6.741667,5.016667,8.100000,4.750000,6.166667,6.166667
2021,3.833333,3.825000,3.983333,4.275000,4.158333,4.95,4.666667,4.491667,5.800000,3.633333,...,3.125000,5.008333,5.450000,4.625000,5.200000,3.883333,4.708333,3.283333,3.633333,4.600000

In [28]:
#pivot data to then join with gdp dataset
fl_unemployment = fl_unemployment.transpose()

In [29]:
#rename DATE column to County
#fl_unemployment = fl_unemployment.rename('County')
fl_unemployment.head()

DATE,2019-01-01,2019-02-01,2019-03-01,2019-04-01,2019-05-01,2019-06-01,2019-07-01,2019-08-01,2019-09-01,2019-10-01,...,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,2021-09-01,2021-10-01,2021-11-01,2021-12-01
Alachua,3.6,3.0,3.0,2.6,2.8,3.4,3.5,3.2,2.9,2.9,...,3.9,3.7,3.7,4.4,4.3,4.0,3.5,3.4,3.1,2.8
Baker,3.8,3.2,3.2,2.9,3.1,3.6,3.6,3.3,2.9,3.0,...,4.0,3.7,3.5,4.3,4.2,4.0,3.6,3.6,3.3,2.9
Bay,5.9,4.8,4.4,3.7,3.7,3.8,3.7,3.5,3.2,3.1,...,4.3,4.0,3.8,4.3,4.1,3.9,3.5,3.4,3.3,3.1
Bradford,3.8,3.3,3.3,2.9,3.1,3.6,3.7,3.7,3.3,3.2,...,4.4,4.1,4.0,4.7,4.6,4.4,4.0,3.8,3.9,3.4
Brevard,3.8,3.4,3.3,3.0,3.1,3.5,3.5,3.5,3.2,3.1,...,4.4,4.2,4.1,4.6,4.3,4.2,3.8,3.6,3.5,3.0

In [30]:
#get column names to verify data transposed as expected
fl_unemployment.keys()

DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
               '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01',
               '2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01'],
              dtype='datetime64[ns]', name='DATE', freq=None)

In [31]:
#rename index from DATE to County
fl_unemployment = fl_unemployment.rename_axis('County')

In [32]:
#ensure changes took place
fl_unemployment.head()

DATE,2019-01-01,2019-02-01,2019-03-01,2019-04-01,2019-05-01,2019-06-01,2019-07-01,2019-08-01,2019-09-01,2019-10-01,...,2021-03-01,2021-04-01,2021-05-01,2021-06-01,2021-07-01,2021-08-01,2021-09-01,2021-10-01,2021-11-01,2021-12-01
County,,,,,,,,,,,,,,,,,,,,,
Alachua,3.6,3.0,3.0,2.6,2.8,3.4,3.5,3.2,2.9,2.9,...,3.9,3.7,3.7,4.4,4.3,4.0,3.5,3.4,3.1,2.8
Baker,3.8,3.2,3.2,2.9,3.1,3.6,3.6,3.3,2.9,3.0,...,4.0,3.7,3.5,4.3,4.2,4.0,3.6,3.6,3.3,2.9
Bay,5.9,4.8,4.4,3.7,3.7,3.8,3.7,3.5,3.2,3.1,...,4.3,4.0,3.8,4.3,4.1,3.9,3.5,3.4,3.3,3.1
Bradford,3.8,3.3,3.3,2.9,3.1,3.6,3.7,3.7,3.3,3.2,...,4.4,4.1,4.0,4.7,4.6,4.4,4.0,3.8,3.9,3.4
Brevard,3.8,3.4,3.3,3.0,3.1,3.5,3.5,3.5,3.2,3.1,...,4.4,4.2,4.1,4.6,4.3,4.2,3.8,3.6,3.5,3.0