In [1]:
# import tools (pandas ect)
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
#import requests

In [2]:
#read data files
fl_1 = pd.read_csv('Resources/Unemployment Data/Florida_Unemployment_1.csv').set_index('DATE')
fl_2 = pd.read_csv('Resources/Unemployment Data/Florida_Unemployment_2.csv').set_index('DATE')
fl_3 = pd.read_csv('Resources/Unemployment Data/Florida_Unemployment_3.csv').set_index('DATE')
fl_4 = pd.read_csv('Resources/Unemployment Data/Florida_Unemployment_4.csv').set_index('DATE')
fl_5 = pd.read_csv('Resources/Unemployment Data/Florida_Unemployment_5.csv').set_index('DATE')
fl_6 = pd.read_csv('Resources/Unemployment Data/Florida_Unemployment_6.csv').set_index('DATE')

#concat files to create Florida Unemployment df
florida_unemployment = pd.concat([fl_1,fl_2,fl_3,fl_4,fl_5,fl_6], axis=1, join='inner')

#rename columns
florida_unemployment.columns = ['Alachua','Baker','Bay','Bradford','Brevard','Broward','Calhoun','Charlotte','Citrus','Clay','Collier','Columbia'
                                ,'DeSoto','Dixie','Duval','Escambia','Flagler','Franklin','Gadsden','Gilchrist','Glades','Gulf','Hamilton','Hardee'
                                ,'Hendry','Hernando','Highlands','Hillsborough','Holmes','Indian River','Jackson','Jefferson','Lafayette','Lake','Lee','Leon'
                                ,'Levy','Liberty','Madison','Manatee','Marion','Martin','Miami-Dade','Monroe','Nassau','Okaloosa','Okeechobee','Orange'
                                ,'Osceola','Palm Beach','Pasco','Pinellas','Polk','Putnam','Santa Rosa','Sarasota','Seminole','St Johns','St Lucie','Sumter'
                                ,'Suwawnee','Taylor','Union','Volusia','Wakulla','Walton','Washington' ]

#preview data
display(florida_unemployment.head())
display(florida_unemployment.tail())

,Alachua,Baker,Bay,Bradford,Brevard,Broward,Calhoun,Charlotte,Citrus,Clay,...,St Johns,St Lucie,Sumter,Suwawnee,Taylor,Union,Volusia,Wakulla,Walton,Washington
DATE,,,,,,,,,,,,,,,,,,,,,
2019-01-01,3.6,3.8,5.9,3.8,3.8,3.6,5.3,4.3,5.8,3.7,...,3.3,4.6,5.5,4.0,4.4,3.6,4.1,3.5,3.6,4.7
2019-02-01,3.0,3.2,4.8,3.3,3.4,3.2,4.5,3.8,5.1,3.2,...,2.8,4.1,5.0,3.5,3.8,3.0,3.6,2.9,3.1,3.9
2019-03-01,3.0,3.2,4.4,3.3,3.3,3.1,4.3,3.8,4.9,3.1,...,2.8,3.9,5.0,3.5,3.6,3.0,3.5,2.9,3.0,3.6
2019-04-01,2.6,2.9,3.7,2.9,3.0,2.8,3.7,3.4,4.5,2.8,...,2.5,3.6,4.6,3.1,3.4,2.7,3.2,2.7,2.7,3.2
2019-05-01,2.8,3.1,3.7,3.1,3.1,3.0,3.6,3.6,4.8,2.9,...,2.5,3.9,4.7,3.2,3.4,2.8,3.4,2.9,2.7,3.2

,Alachua,Baker,Bay,Bradford,Brevard,Broward,Calhoun,Charlotte,Citrus,Clay,...,St Johns,St Lucie,Sumter,Suwawnee,Taylor,Union,Volusia,Wakulla,Walton,Washington
DATE,,,,,,,,,,,,,,,,,,,,,
2021-08-01,4.0,4.0,3.9,4.4,4.2,4.9,4.8,4.8,6.1,3.7,...,3.3,5.2,5.9,4.8,5.2,4.1,4.7,3.5,3.7,4.7
2021-09-01,3.5,3.6,3.5,4.0,3.8,4.5,4.5,4.3,5.4,3.4,...,2.9,4.7,5.3,4.5,4.6,3.6,4.3,3.0,3.4,4.2
2021-10-01,3.4,3.6,3.4,3.8,3.6,4.1,4.5,4.0,5.0,3.2,...,2.8,4.4,4.8,4.2,4.4,3.4,4.1,2.9,3.2,4.0
2021-11-01,3.1,3.3,3.3,3.9,3.5,3.9,4.1,3.9,5.0,3.0,...,2.7,4.2,4.8,3.9,4.4,3.2,3.9,2.8,3.1,3.8
2021-12-01,2.8,2.9,3.1,3.4,3.0,3.3,3.6,3.4,4.4,2.7,...,2.3,3.6,4.2,3.4,4.0,2.7,3.4,2.5,2.7,3.5